.body {
    background: white;
    display: grid;
    height: 60rem;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 1rem;
    overflow: auto;
    }
   
.topL {
    background-color: lightgray;
    overflow: auto;
    }
   
.topR {
    background-color: lightgray;
    overflow: auto;
    }

.bottomL{
  background-color:lightgray;
  overflow: auto;
  }

.bottomR{
  background-color: lightgray;
  overflow: auto;
}

.button{
  border: none;
  background-color:green;
  display: inline-block;
  margin: 1px 0px;
  height: 6.6rem;
  width: 100%;
  font-size: 20px;
  cursor: pointer;
}