<!DOCTYPE html>
<html lang="en">
  <head>
    <head><meta http-equiv="Content-Type" content="text/plain; charset=utf-8"/></head>
    <link rel="stylesheet" href="/static/main.css"/>
  </head>
  <div class="body">
    <div class="topL">
      Section 1
      <img src="{{ url_for('video_feed') }}">
    </div>

    <div class="topR">
      Section 2
    </div>

    <div class="bottomL">
      <button class="button" onclick="forward">Forward</button>>
      <button class="button" onclick="right">Right</button>>
      <button class="button" onclick="left">Left</button>>
      <button class="button" onclick="backward">Backward</button>>
    </div>

    <div class="bottomR">
      Section 4
    </div>
  </div>
</html>
